.mainContainer {
  padding: 36px 15px;
  // overflow: hidden;
  .pagination {
    .dropdownsHeader {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .dropdowns{
        ::ng-deep{
          .p-dropdown {
            width: 108px;
          }
          .p-dropdown-label {
    
            text-overflow: clip;
          
        }
          
        }
      }


      .department-dropdown{
        ::ng-deep{
          .p-dropdown-label {
    
            text-overflow: clip;
          
        }

        }
      }
    }

    .headingList {
      ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 40px 127px 0px 20px;
        font-size: 18px;
        color: #878787;
        font-weight: 700;
        font-family: "roboto", sans-serif;

        .employee-sort {
          display: flex;
        }
      }
    }
    .pagecards-container {
      overflow: auto;
      height: 600px;
      width: 101%;

      // background-color:#D2D2D2;

      .pageCards {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff !important;
        padding: 20px;
        height: 80px;
        margin-bottom: 15px;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        // gap: 50px;
        justify-content: space-between;
        align-items: center;
        .employee,
        .mobile,
        .project,
        .employee-code,
        .email,.edit-btn {
          width: 700px;
          background-color: #ffffff;

        }

        p {
          cursor: pointer;
        }
        .employee {
          display: flex;
          align-items: center;
          gap: 20px;
        }
        .project {
          display: flex;
          gap: 10px;
        }
        #edit-image {
          width: 20px;
        }
        .employee{
           font-size: 16px;
           font-weight: 700;
           font-family: "railway",sans-serif;
        }
        .mobile,
        .project,
        .employee-code,
        .email{
          font-size: 16px;
          font-weight: 400;
          font-family: "roboto",sans-serif;
        }
      }
    }
  }
}

// ng:deep

::ng-deep {
  .p-input-icon-left > .p-inputtext {
    padding-left: 2.5rem;
    width: 327px;
    height: 36px;
    border-radius: 5px;
    background: #ffffff;
    border: 2px solid #ececec;
  }

  .p-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    width: 138px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #ececec;
    border-radius: 6px;
    align-items: center;
    text-align: center;
  }

  .p-dropdown .p-dropdown-label.p-placeholder {
    color: #6c757d;
    font-size: 14px;
    font-family: "roboto", sans-serif;
    color: #606060;
    text-overflow: none;

  }

  .p-button {
    width: 139px;
    height: 36px;
    background: #3bbca0;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 5%);
    border-radius: 5px;
  }

  .p-button .p-button-label {
    transition-duration: 0.2s;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
  }
  .p-dropdown .p-dropdown-trigger {
  
    width: 35px;
  
}
.p-button {
border: #3bbca0;
}
.p-button:enabled:hover {
  background: #3bbca0; 
  color: #ffffff;
   border-color: none; 
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
   background: white;
  border-color: white; 
  color: #3bbca0; 
}
.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #3bbca0;
}
.p-paginator .p-paginator-pages .p-paginator-page {
  border-radius: 2px;
  
}
}