<div class="mainContainer">
  <div class="pagination">
    <div class="dropdownsHeader">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" />
      </span>
      <p-dropdown class="department-dropdown" placeholder="Departments"></p-dropdown>
      <p-dropdown class="dropdowns" placeholder="Projects"></p-dropdown>
      <p-dropdown  class="dropdowns" placeholder="Manager"></p-dropdown>
      <p-dropdown class="dropdowns" placeholder="Current"></p-dropdown>
      <button pButton type="button" label="Add Employee"></button>
    </div>

    <div class="headingList">
      <ul>
        <div class="employee-sort">
          <li>Employee</li>
          <img src="/assets/images/Vector (1).svg" (click)="employeeNameSorting()" alt="" />
        </div>

        <li>E-mail</li>
        <li>Mobile No</li>

        <div class="employee-sort">
          <li>Employee Code</li>
          <img src="/assets/images/Vector (1).svg" (click)="employeeCodeSorting()"   alt="" />
        </div>
        <li>Project</li>
      </ul>
    </div>
    <br>
    <br>
    <div class="pagecards-container">

   

    <div class="pageCards" *ngFor="let item of usersList">
      <div class="employee">
        <img src="/assets/images/john doe.svg" alt="" />
        <p>{{ item.name }}</p>
      </div>
      <div class="email">
        <p>{{ item.email }}</p>
      </div>
      <div class="mobile">
        <p>{{ item.mobile }}</p>
      </div>
      <div class="employee-code">
        <p>{{ item.employeeCode }}</p>
      </div>
    <div class="project" *ngFor="let project of item.project let i=index" >
        <p>   {{ project.project }}</p>
        <p *ngIf="item.project.length - 1 > 0" pTooltip= {{tooltip(item.project)}}  tooltipPosition="bottom">
          +{{ item.project.length - 1 }} 
        </p> 
      </div>
      

      <div class="edit-btn">
        <img id="edit-image" src="/assets/images/Group 85.svg" alt="" />
      </div>
     
    </div>
  </div>
    <p-paginator
      [rows]="10"
      [totalRecords]="pageSize * totalPages"
      [rowsPerPageOptions]="[10, 20, 30]"
      (onPageChange)="pagination($event)"
    ></p-paginator>
  </div>
</div>
