<div class="mainContainer">

    <div class="pagination">

        <div class="dropdownsHeader">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText  placeholder="Search">         
            </span>
            <p-dropdown placeholder="frg" ></p-dropdown>
            <p-dropdown placeholder="frg" ></p-dropdown>
            <p-dropdown placeholder="frg" ></p-dropdown>
            <p-dropdown placeholder="frg" ></p-dropdown>
            <button pButton type="button" label="Click" ></button>
         </div>

        <div class="headingList">

        </div>

        <div class="pageCards">

        </div>
    </div>
</div>
