.mainContainer{

    display: flex;
    background:#FAFAFA;
    width: 100vw;

    .sidebar{
        width:18%;
        height: 100vh;
 
    background-color: aquamarine;

    }
    
    .header-body{
        width: calc(100% - 18%);
        // height: 20px;
        .header{
          
            height: 10%;
            // background-color: aqua;
        }

    }

    

    
}
